.ivu-btn {
  transition: none;
  &:focus {
    box-shadow:none;
  }
}

// 点开按钮后的步骤条样式统一管理
.ivu-modal-header p, .ivu-modal-header-inner {
  color: $grey;
}
.stepLook {
  @include flex-row(center);
  margin-bottom: 30px;
  text-align: left;
}
.ivu-steps .ivu-steps-title {
  margin-top: 2.5px;
}
.back-btn {
  flex-grow: 0;
}
.next-btn {
  flex-grow: 0;
}


// 轻量的操作按钮
.operateBtn {
  a {
    color: $grey;
    font-size: 14px;
    font-weight: bold;
    &:nth-child(2n) {
      color: $login-h1;
      margin-left: 28px;
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 74px;
        height: 17px;
        width: 1px;
        transform: scaleX(0.3);
        background-color: $grey;
      }
    }
  }
}

// iview的六种类型按钮覆盖
.ivu-btn-primary {
  border-color: $primary-border;
  background: $primary-background;
  box-shadow: 0 2px 8px 0 $primary-shadow;
  &:hover {
    background: $primary-hover;
  }
  &:active {
    background: $primary-active;
  }
}
.ivu-btn-ghost.ivu-btn-primary{
  background: $ghost-primary-background;
  border-color: $ghost-primary-border;
  box-shadow: 0 2px 8px 0 $ghost-primary-shadow;
  &:hover {
    background: $ghost-primary-hover;
  }
  &:active {
    background: $ghost-primary-active;
  }
}

.ivu-btn-error {
  border-color: $error-border;
  background: $error-background;
  box-shadow: 0 2px 8px 0 $error-shadow;
  &:hover {
    border-color: $error-border;
    background: $error-hover;
  }
  &:active {
    border-color: $error-border;
    background: $error-active;
  }
}

.ivu-btn-ghost.ivu-btn-error{
  background: $ghost-error-background;
  border-color: $ghost-error-border;
  box-shadow: 0 2px 8px 0 $ghost-error-shadow;
  &:hover {
    background: $ghost-error-hover;
  }
  &:active {
    background: $ghost-error-active;
  }
}

.ivu-btn-success {
  border-color: $success-border;
  background: $success-background;
  box-shadow: 0 2px 8px 0 $success-shadow;
  &:hover {
    background: $success-hover;
  }
  &:active {
    background: $success-active;
  }
}

.ivu-btn-ghost.ivu-btn-success{
  background: $ghost-success-background;
  border-color: $ghost-success-border;
  box-shadow: 0 2px 8px 0 $ghost-success-shadow;
  &:hover {
    background: $ghost-success-hover;
  }
  &:active {
    background: $ghost-success-active;
  }
}


.cancel-btn {
  border-color: $user-avatar-background;
  color: $grey;
}
// .ivu-btn-warning {
//   border-color: $warning-border;
//   background: $warning-background;
//   box-shadow: 0 2px 8px 0 $warning-shadow;
//   &:hover {
//     background: $warning-hover;
//   }
//   &:active {
//     background: $warning-active;
//   }
// }

// .ivu-btn-info {
//   border-color: $info-border;
//   background: $info-background;
//   box-shadow: 0 2px 8px 0 $info-shadow;
//   &:hover {
//     background: $info-hover;
//   }
//   &:active {
//     background: $info-active;
//   }
// }

// .ivu-btn-text {
//   border-color: $text-border;
//   background: $text-background;
//   box-shadow: 0 2px 8px 0 $text-shadow;
//   &:hover {
//     background: $text-hover;
//   }
//   &:active {
//     background: $text-active;
//   }
// }
