// 固定sider
.ivu-layout {
  max-height: 100vh;
  background-color: transparent;
}
// siderbar默认过渡效果取消
.ivu-layout-sider {
  transition: none;
}
// v1.25所有select 和下拉靠左
.ivu-select-selection {
  text-align: left;
}
.ivu-select-dropdown {
  text-align: left;
}

.ivu-input, .ivu-tooltip-inner {
  font-size: 14px;
}

.ivu-modal-footer {
  border-top: none;
}
// draw的标题颜色
.ivu-drawer-header-inner {
  color: $grey;
}
// checkbox 外边距
.ivu-checkbox-wrapper {
  margin-right: 8px;
  margin-left: 8px;
}
.ivu-switch {
  box-shadow: -1px 1px 7px 0px $ghost-primary-shadow;
  &.ivu-switch-checked {
    border-color: $primary-border;
    background: $primary-background
  }
}
.ivu-divider-inner-text {
  color: $grey;
}
.ivu-form-item-validating .ivu-input-icon-validate {
  display: none;
}

// 可移动的对话框
.ivu-modal-no-mask {
  pointer-events: unset;
}
.ivu-modal-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  background: rgba(55,55,55,.6);
}
// this.$Modal.confirm警告框样式
.ivu-modal-confirm-body {
  padding: 25px 0 0 40px;
  text-align: left;
}
// 只有一个时间或分钟可选的time-picker，勤务的freeadd按钮
.only-mins {
  width: 80px;
  .ivu-picker-panel-body {
    width: 50px;
  }
  .ivu-time-picker-cells-list:first-child {
    display: none;
  }
}
.only-hours {
  width: 60px;
  .ivu-picker-panel-body {
    width: 50px;
  }
  .ivu-time-picker-cells-list {
    display: none;
    &:last-child {
      display: none;
    }
    &:first-child {
      display: block;
    }
  }
}
// 帳票・ファイル出力页面仅有一个pdf时的样式
.only-pdf {
  .ivu-poptip-inner {
    width: 90px;
    .ivu-poptip-body {
      text-align: center;
    }
  }
}
//有休的drawer
.happytime .ivu-drawer .ivu-drawer-content .ivu-drawer-body {
  padding: 8px;
}
.ivu-drawer-content {
  background-color: $form-bg-grey;
}

// 登陆页手机input
.dark-input {
  .ivu-input {
    color: rgb(217, 217, 217) !important;
    text-indent: 23px;
    border-radius: 23px !important;
    background-color: #0c0c0c0d;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-color: rgb(217, 217, 217) !important;
  }
  }
// 打卡履历页上filter的第一项margin
.ivu-table-filter-list-item .ivu-checkbox-wrapper {
  margin: 0;
}
// 日报方向移动相关
.ivu-drawer {
  transition: 0.8s left cubic-bezier(.19,.67,.14,1.07);
}
.for-move .ivu-drawer-right {
  left: calc(100% - 681px);
}

// input边框方正化
.non-border-input {
  .ivu-input {
    border-radius: 0;
  }
}
// 纠正滑动条的按钮位置
.ivu-slider-button-wrap {
  top: -7px;
}
// 卡片头部颜色和边框纠正
.ivu-card-head {
  padding: 10px 16px;
  span {
    color: $grey;
  }
}
.ivu-card-extra {
  top: 9px;
}

.label {
  font-size: 13px;
}
.ellipsis {
  @include ellipsis
}
.tooltip-table {
  &.ivu-tooltip, &.ivu-tooltip .ivu-tooltip-rel {
    display: block;
  }
}
// 表格中的标签样式
.row-label-primary {
  display: inline-block;
  padding: 2px 8px;
  margin: 0 4px;
  color: $primary;
  border: 1px solid $primary-border;
  background-color: $white;
  border-radius: 3px;
}
// 通用class
.red {
  color: $red;
}
.blue {
  color: $theme-blue;
}
.grey {
  color: $grey;
}
.light-grey {
  color: $text-light-grey;
}
.pd5 {
  padding: 5px;
}
.pd10 {
  padding: 10px;
}
.pd20 {
  padding: 20px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.mr10 {
  margin-right: 10px;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mtb02 {
  margin-top: 20px;
  margin-bottom: 50px;
}
.mb1 {
  margin-bottom: 1px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.font1 {
  font-size: 15px;
}
.font2 {
  font-size: 20px;
}
.wd1 {
  width: 10em;
}
