.loginform {
  .ivu-input-wrapper {
    display: block;
    position: relative;
    line-height: normal;
  }
  .ivu-input {
    height: 50px;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 600;
    color: $login-input;
    border: none;
    border-radius: 0;
    border-bottom: solid 2px $login-input;
    outline: none;
    &:focus {
      box-shadow: none;
      border-color: $login-input-border-active;
    }
    &:hover {
      border-color: $login-input-border-active;
    }
  }
  .ivu-input-with-prefix {
    padding-left: 50px;
  }
  .ivu-btn {
    line-height: 2.5em;
    padding: 5px 50px;
    font-size: 16px;
  }
  i {
    font-size: 30px;
    line-height: 50px;
    opacity: 0.4;
  }
}
