.ivu-layout .ivu-layout-has-sider {
  padding-top: 51px;
}
//自带取消
.ivu-menu-vertical.ivu-menu-light:after {
  display: none; //虚线
}
.ivu-menu-light.ivu-menu-vertical
  .ivu-menu-item-active:not(.ivu-menu-submenu):after {
  display: none; // 激活蓝条
}
.sys-menu-title {
  width: 100px;
}
/deep/.ivu-menu-item-group-title {
  padding: 0;
}
.ivu-layout-sider-children {
  background-color: $theme-blue;
  background-image: none;
  border-right: none;
  .ivu-menu-item {
    text-overflow: unset;
    i {
      height: 45px;
      transform: translateX(-5px) scale(1);
      border: none;
      transition: transform 0.2s ease 0.2s;
      vertical-align: middle;
      margin-left: 5px;
    }
    &.ivu-menu-item-selected i {
      height: 45px;
      margin-left: 5px;
    }
  }
}

